.you-will-text{
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
.preview-btn{
    margin-top: 50px;
    
}
.preview-btn button{
    width: 150px !important;
    
}
.text-price{
    color: rgb(241, 241, 241);
    font-weight: 600;
    font-size: 18px;
}
.text-header{
    color: white;
    font-weight: 600;
    font-size: 18px;
}